.portfolio{
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 8rem 32px;
}
.portfolio h1{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
}
.portfolio span{
    color: var(--logo-color);
}
.portfolio p{
    max-width: 680px;
    margin: 0 auto 4rem;
    font-size: 17px;
    line-height: 30px;
    color: var(--text-secondary);

}
.mywork{
    width: 100%;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(3, 1fr);

}



@media(max-width:768px){
    .mywork{
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}


@media(max-width:580px){
    .portfolio{
        padding: 6rem 16px;
    }

    .mywork{
        grid-template-columns: repeat(1, 1fr);
        gap: 28px;
        
    }
}
