.aboutbottomimage{
    width: 100%;
    background-color: var(--background-gray);
    padding: 1.25rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    
}

@media(max-width:768px){
    .aboutbottomimage{
        padding: 20px 0px;
        gap: 0rem;
    }
}

@media(max-width:390px){
    .aboutbottomimage{
        padding: 42px 0px;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}