@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-black : #0A0908; 
  --background-gray:#1A1A1A;
  --background-light-gray:#222222;
  --logo-color: #f47e0f;
  --button-color:#f47e0f;
  --hover-button-color:#ba7635;

}

html,body{
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
