.testimonial{
    width: 100%;
    background-color: transparent;
    padding: 8rem 2rem;
    text-align: center;
}
.testimonial h1{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 56px;
}
.testimonial span{
    color: var(--logo-color);
}

/*  */

.embla {
    overflow: hidden;
    width: min(1180px, 100%);
    margin: 0 auto;

  }
  .embla__container {
    display: flex;
  }

@media(max-width:390px){
    .testimonial{
        padding: 6rem 16px;
    }
}  
